@font-face {
    font-family: 'kr';
    src: url(../font/SFProKRDisplay_light.woff2) format('woff2');
    font-weight: 300;
}

@font-face {
    font-family: 'kr';
    src: url(../font/SFProKRDisplay_regular.woff2) format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'kr';
    src: url(../font/SFProKRDisplay_semibold.woff2) format('woff2');
    font-weight: 600;
}

@font-face {
    font-family: 'kr';
    src: url(../font/SFProKRDisplay_bold.woff2) format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: 'text';
    src: url(../font/sf-pro-text_regular.woff2) format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'text';
    src: url(../font/sf-pro-text_semibold.woff2) format('woff2');
    font-weight: 600;
}


@font-face {
    font-family: 'pro';
    src: url(../font/sf-pro-display_regular.woff2) format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'pro';
    src: url(../font/sf-pro-display_semibold.woff2) format('woff2');
    font-weight: 600;
}

@font-face {
    font-family: 'pro';
    src: url(../font/sf-pro-display_bold.woff2) format('woff2');
    font-weight: 700;
}




@font-face {
    font-family: 'icons';
    src: url(../font/sf-pro-icons_light.woff2) format('woff2');
    font-weight: 300;
}

@font-face {
    font-family: 'icons';
    src: url(../font/sf-pro-icons_regular.woff2) format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'icons';
    src: url(../font/sf-pro-icons_semibold.woff2) format('woff2');
    font-weight: 600;
}