@font-face {
    font-family: 'Neue Montreal';
    src: url('../font/NeueMontreal-Medium.eot');
    src: local('Neue Montreal Medium'), local('NeueMontreal-Medium'),
        url('../font/NeueMontreal-Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/NeueMontreal-Medium.woff2') format('woff2'),
        url('../font/NeueMontreal-Medium.woff') format('woff'),
        url('../font/NeueMontreal-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('../font/NeueMontreal-LightItalic.eot');
    src: local('Neue Montreal Light Italic'), local('NeueMontreal-LightItalic'),
        url('../font/NeueMontreal-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/NeueMontreal-LightItalic.woff2') format('woff2'),
        url('../font/NeueMontreal-LightItalic.woff') format('woff'),
        url('../font/NeueMontreal-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('../font/NeueMontreal-MediumItalic.eot');
    src: local('Neue Montreal Medium Italic'), local('NeueMontreal-MediumItalic'),
        url('../font/NeueMontreal-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/NeueMontreal-MediumItalic.woff2') format('woff2'),
        url('../font/NeueMontreal-MediumItalic.woff') format('woff'),
        url('../font/NeueMontreal-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('../font/NeueMontreal-Bold.eot');
    src: local('Neue Montreal Bold'), local('NeueMontreal-Bold'),
        url('../font/NeueMontreal-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/NeueMontreal-Bold.woff2') format('woff2'),
        url('../font/NeueMontreal-Bold.woff') format('woff'),
        url('../font/NeueMontreal-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('../font/NeueMontreal-BoldItalic.eot');
    src: local('Neue Montreal Bold Italic'), local('NeueMontreal-BoldItalic'),
        url('../font/NeueMontreal-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/NeueMontreal-BoldItalic.woff2') format('woff2'),
        url('../font/NeueMontreal-BoldItalic.woff') format('woff'),
        url('../font/NeueMontreal-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('../font/NeueMontreal-Italic.eot');
    src: local('Neue Montreal Italic'), local('NeueMontreal-Italic'),
        url('../font/NeueMontreal-Italic.eot?#iefix') format('embedded-opentype'),
        url('../font/NeueMontreal-Italic.woff2') format('woff2'),
        url('../font/NeueMontreal-Italic.woff') format('woff'),
        url('../font/NeueMontreal-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('../font/NeueMontreal-Light.eot');
    src: local('Neue Montreal Light'), local('NeueMontreal-Light'),
        url('../font/NeueMontreal-Light.eot?#iefix') format('embedded-opentype'),
        url('../font/NeueMontreal-Light.woff2') format('woff2'),
        url('../font/NeueMontreal-Light.woff') format('woff'),
        url('../font/NeueMontreal-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('../font/NeueMontreal-Regular.eot');
    src: local('Neue Montreal Regular'), local('NeueMontreal-Regular'),
        url('../font/NeueMontreal-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/NeueMontreal-Regular.woff2') format('woff2'),
        url('../font/NeueMontreal-Regular.woff') format('woff'),
        url('../font/NeueMontreal-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'appleKR';
    src: url(../font/SFProKRDisplay_light.woff2) format('woff2');
    font-weight: 300;
}
@font-face {
    font-family: 'appleKR';
    src: url(../font/SFProKRDisplay_regular.woff2) format('woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'appleKR';
    src: url(../font/SFProKRDisplay_medium.woff2) format('woff2');
    font-weight: 500;
}
@font-face {
    font-family: 'appleKR';
    src: url(../font/SFProKRDisplay_semibold.woff2) format('woff2');
    font-weight: 600;
}
@font-face {
    font-family: 'appleKR';
    src: url(../font/SFProKRDisplay_bold.woff2) format('woff2');
    font-weight: 700;
}


@font-face {
    font-family: 'apple';
    src: url(../font/sf-pro-display_regular.woff2) format('woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'apple';
    src: url(../font/sf-pro-display_medium.woff2) format('woff2');
    font-weight: 500;
}
@font-face {
    font-family: 'apple';
    src: url(../font/sf-pro-display_semibold.woff2) format('woff2');
    font-weight: 600;
}
@font-face {
    font-family: 'apple';
    src: url(../font/sf-pro-display_bold.woff2) format('woff2');
    font-weight: 700;
}

